<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3 style="margin-top: 0;">Success</h3>
  <p>Your order has been successfully placed.</p>
  <p>Thank you for shopping with us!</p>


  <script>
    function createOrder() {

    fetch("http://localhost:3000/items")
        .then(response => response.json())
        .then(items => {
            const payload = {
                orders: items.map(item => ({
                    PartID: item.id,
                    Quantity: item.quantity,
                    Price: item.priceInCents / 100 * item.quantity,
                    BuyerID: item.BuyerID,
                    SellerID: item.SellerID,
                    name: item.name,
                }))
            };
            console.log("Order creation payload:", payload);

            return fetch("http://127.0.0.1:5005/create_order", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(payload),
            });
        })
        .then(response => {
                if (!response.ok) {
                    throw new Error('Order creation failed');
                }
                return response.json();
          })
        .then(orderCreationResult => {
                console.log("Order created successfully:", orderCreationResult);
                
                return fetch("http://localhost:3000/clear-cart", { method: 'POST' });
          })
        .then(cartClearResponse => {
                if (!cartClearResponse.ok) {
                    throw new Error('Failed to clear the cart');
                }
                console.log("Cart cleared successfully");
                
                window.location.href = 'http://127.0.0.1:5005/buyer_order'; 
          })
        .catch(error => {
                console.error("Error:", error);
          });
    }
    document.addEventListener('DOMContentLoaded', () => {
    createOrder();
    });
  </script>
</body>
</html>